[color]
  ui = true
[user]
  name = Sergey Shishkin
  email = sergei.shishkin@gmail.com
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\n' --abbrev-commit --date=relative --all
[push]
  default = current
[core]
  excludesfile = /Users/serega/.gitignore
	autocrlf = input
  pager = `brew --prefix git`/share/git-core/contrib/diff-highlight/diff-highlight | less
[pull]
	rebase = true
[rebase]
	autoStash = true
	instructionFormat = (%an <%ae>) %s
[diff]
	compactionHeuristic = true
	indentHeuristic = true

