[color]
  ui = true
[user]
  name = Sergey Shishkin
  email = sergey@shishkin.org
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\n' --abbrev-commit --date=relative --all
[core]
  excludesfile = /Users/serega/.gitignore
  autocrlf = input
  pager = diff-highlight | less
[fetch]
  prune = true
[pull]
  rebase = true
[push]
  default = current
[rebase]
  autoStash = true
  instructionFormat = (%an <%ae>) %s
[diff]
  compactionHeuristic = true
  indentHeuristic = true
[diff "ansible-vault"]
  textconv = ansible-vault view
  cachetextconv = false
[merge "ansible-vault"]
  name = ansible-vault merge driver
  driver = /usr/local/bin/ansible-vault-merge -- %O %A %B %P

[submodule]
  recurse = true
[init]
  defaultBranch = main
[credential]
  helper = store
